<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <div class="h4">Karpagam College of Engineering</div>
            <p>2015 - 2019</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Bachelor of Automobile Engineering</div>
            <ul>
              <li> Karpagam College of Engineering is Anna University Affiliated</li>
              <li>Completed B.E in Automobile Engineering with <b>8.74 CGPA</b>.</li>
              <li>Won the <b>Best Student Award</b> 2 times for excellent Academic records at College.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <div class="h4">GD Matric</div>
            <p>2013 - 2015</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, and Computer Science
              </li>
              <li>
                There was also a good base on physics, mathematics and chemistry.
              </li>
              <li>
                Completed my high school with<b> 88.25%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <div class="h4">Nirmala Matha Convent</div>
            <p>2002 - 2013</p>
          </div>
        </div>
        
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Secondary School</div>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>
              <li>
                Completed my Secondary school with <b>94.8%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>