<nav class="navbar navbar-expand-lg bg-primary fixed-top " color-on-scroll="50">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/profile']" placement="bottom">
        Ezhilan
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/resume']">
            <i class="now-ui-icons users_circle-08"></i>
            <p>Resume</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/projects']">
            <i class="now-ui-icons files_paper"></i>
            <p>projects</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/knowmore']">
            <i class="now-ui-icons media-1_album"></i>
            <p>Know More</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>