<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image:url('assets/img/suryanelliBG1.jpg')">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/vez.jpg" alt="">
                </div>
                <h3 class="title">Ezhilan Veluchami</h3>
                <p class="category">Senior Systems Engineer</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <p>Software Developer</p>
                    </div>
                    <div class="social-description">
                        <p>Automobile Engineer</p>
                    </div>
                    <div class="social-description">
                        <p>Educator</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Resume</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on Github">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="description">
                I am a generalist determined to explore all the different fields of engineering and share
                acquired knowledge.
            </h5>
            <app-project-card></app-project-card>
        </div>
    </div>
    <!-- <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer> -->
</div>