<div class="wrapper">
    <div  class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image:url('assets/img/suryanelliBG1.jpg')">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/vez.jpg" alt="">
                </div>
                <h3 class="title">Ezhilan Veluchami</h3>
                <p class="category">Senior Systems Engineer</p>
                <!-- <div class="content">
                    <div class="social-description">
                        <p>Software Developer</p>
                    </div>
                    <div class="social-description">
                        <p>Automobile Engineer</p>
                    </div>
                    <div class="social-description">
                        <p>Educator</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on Twitter">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on Instagram">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <h3 class="title">About me</h3>
            <h5 class="description">
                I am a generalist determined to explore all the different fields of engineering and share
                acquired knowledge.
            </h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Projects</h4>
                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template class="project-icons" ngbTabTitle>
                                <i class="now-ui-icons transportation_bus-front-12" ngbTooltip="Automobile"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <mat-card class="example-card">
                                                    <mat-card-header class="text-primary">
                                                        <mat-card-title>Supra - 2017</mat-card-title>
                                                        <mat-card-subtitle>Role : Technical Lead/Driver
                                                        </mat-card-subtitle>
                                                    </mat-card-header>
                                                    <div>

                                                        <img mat-card-image src="assets/img/supra2017.jpg"
                                                            alt="Photo of a Shiba Inu">
                                                    </div>
                                                    <mat-card-content>
                                                        <p>
                                                            I was the technical lead and worked with our team to
                                                            develop a formula students vehicle by following the
                                                            process of engineering design.I personally worked in the
                                                            design of the powertrain,Chassis and suspension
                                                            geometry.I was also the driver of the vehicle for the
                                                            dynamic events
                                                        </p>
                                                    </mat-card-content>
                                                    <mat-card-actions>
                                                        <a href="#button" class="btn btn-primary btn-round btn-lg">Know
                                                            More
                                                        </a>
                                                    </mat-card-actions>
                                                </mat-card>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-card class="example-card">
                                                    <mat-card-header class="text-primary">
                                                        <mat-card-title>Supra - 2018</mat-card-title>
                                                        <mat-card-subtitle>Role : Team captain
                                                        </mat-card-subtitle>
                                                    </mat-card-header>
                                                    <img mat-card-image src="assets/img/supra2018.jpg"
                                                        alt="Photo of a Shiba Inu">
                                                    <mat-card-content>
                                                        <p>
                                                            I was the Team captain for our college formula students
                                                            team. We as a team avoided our prior mistakes and
                                                            improved our ranking.I primarly concentrated on the
                                                            fesibilty and technical aspects of the vehicle
                                                            manufacturing process.
                                                        </p>
                                                    </mat-card-content>
                                                    <mat-card-actions>
                                                        <a href="#button" class="btn btn-primary btn-round btn-lg">Know
                                                            More
                                                        </a>
                                                    </mat-card-actions>
                                                </mat-card>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-card class="example-card">
                                                    <mat-card-header class="text-primary">
                                                        <mat-card-title>BFKCT - 2018</mat-card-title>
                                                        <mat-card-subtitle>Role : Team Captian/Driver
                                                        </mat-card-subtitle>
                                                    </mat-card-header>
                                                    <div>

                                                        <img mat-card-image src="assets/img/supra2017.jpg"
                                                            alt="Photo of a Shiba Inu">
                                                    </div>
                                                    <mat-card-content>
                                                        <p>
                                                            I had been the team captain and driver for a Go-kart
                                                            design and endurance event.We have build the entire
                                                            vehicle from scratch in record time for the event.
                                                        </p>
                                                    </mat-card-content>
                                                    <mat-card-actions>
                                                        <a href="#button" class="btn btn-primary btn-round btn-lg">Know
                                                            More
                                                        </a>
                                                    </mat-card-actions>
                                                </mat-card>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-card class="example-card">
                                                    <mat-card-header class="text-primary">
                                                        <mat-card-title>Provisioning of Q-gate in engine Production
                                                            unit in ashok-leyland </mat-card-title>
                                                        <mat-card-subtitle>Role : Intern
                                                        </mat-card-subtitle>
                                                    </mat-card-header>
                                                    <img mat-card-image src="assets/img/supra2018.jpg"
                                                        alt="Photo of a Shiba Inu">
                                                    <mat-card-content>
                                                        <p>
                                                            I was an intern in Ashok Leyland in the quality control
                                                            department. During my time as an intern we have analysed
                                                            the data of various defects and performed root cause
                                                            analysis and modified the production line and added
                                                            Quality Gate to improve effiency of the unit
                                                        </p>
                                                    </mat-card-content>
                                                    <mat-card-actions>
                                                        <a href="#button" class="btn btn-primary btn-round btn-lg">Know
                                                            More
                                                        </a>
                                                    </mat-card-actions>
                                                </mat-card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template class="project-icons" ngbTabTitle >
                                <i class="now-ui-icons tech_laptop" ngbTooltip="Computer  Science"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                                <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template class="project-icons" ngbTabTitle>
                                <i class="now-ui-icons users_single-02" ngbTooltip="Personal"> </i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg6.jpg" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>