.social-description {
    width: 170px !important;
    margin-top: auto;
    margin-bottom: auto;
    p {
        width: 100%;
        align-items: center;
    }
}
nav {
    margin: 0px !important;
    padding: 0px !important;
}
.card-header {
    position: absolute;
    z-index: 5;
    margin-left: auto;
    text-align: right;
    width: 60%;
    height: 30em;
    // top: 25px;
    right: 0;
    color: rgb(250, 250, 250);
    background: rgba(248, 242, 242, 0.856);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-shadow: 0px 0px 25px 12px #ffffff;
    // clip
    clip-path: polygon(0 0, 100% 0%, 100% 46%, 75% 24%, 38% 19%);
    h4{
        margin: 0 0 0 10px;
    }
}
mat-card {
    // height: 100%;
    // margin: 10px;
    // background-color: $dark-background;
    // color: $white-color;
    img {
        width: 120%;
        margin-right: -20px;
        aspect-ratio: 4/3;
        // clip-path: circle(83.1% at 65% 110%);
    }
}
mat-card-header {
    position: absolute;
    z-index: 5;
    margin-left: auto;
    top: 25px;
    right: 20px;
    color: rgb(250, 250, 250);
    background: rgba(255, 255, 255, 0.856);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-shadow: 0px 0px 25px 12px #ffffff;
    // clip
}
mat-card {
    img {
        width: 120%;
        margin-right: -20px;
        aspect-ratio: 4/3;
        // clip-path: circle(83.1% at 65% 110%);
    }
}
.project-icons {
    position: relative;
}
.project-icons :hover {
    top: -10px;
    box-shadow: 2px 2px 10px 10px black;
}
.project-card{
    min-width: 350px;
    max-width: 600px;
    margin: 10px;
}