<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="assets/images/img2.png" alt="Image" />
                        </a>
                    </div>
                    <div class="h2 title">Ezhilan</div>
                    <p class="category text-white"> Automobile Engineer | Educator | Software  Developer </p>
                    <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
                    <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</div>