<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image:url('assets/img/suryanelliBG1.jpg')">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/vez.jpg" alt="">
                </div>
                <h3 class="title">Ezhilan Veluchami</h3>
                <p class="category">Senior Systems Engineer</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="button-container">
            <a href="https://drive.google.com/file/d/1q-aOVx3ErQyEwwPBhqzDb6A0xxe0wZqJ/view?usp=share_link"
                target="_blank" class="btn btn-primary btn-round btn-lg">Resume</a>
            <a href="https://www.linkedin.com/in/ezhilan-veluchami/" target="_blank" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                title="Follow me on LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Ezhilan-V" target="_blank" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                title="Follow me on Github">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <h3 class="title">About me</h3>
        <h5 class="description">
            I am an enthusiastic, self-motivated, and highly skilled MEAN and MERN stack developer with three years of relevant experience seeking opportunities to develop my skills and advance my career. My background includes working on highly process-oriented agile projects and providing training to individuals looking to advance their knowledge of UI technologies at both unit and organizational levels. On a regular basis, I communicate with the client and teams from other organizations about our work's progress and future milestones as a team of four developers.
        </h5>
        <app-about></app-about>
        <app-experience></app-experience>
        <app-education></app-education>
        <app-contact></app-contact>
    </div>
</div>